.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.page-content__title {
  margin: 1rem 0;
}

.page-content__login-form {
  width: 30rem;
  margin-top: 5rem;
}

.login-form {
  width: 30rem;
}

.button-group {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
