extends layout.pug

block title
    link(rel="stylesheet", href="/styles/index.css")
    title Home page

block content
    main.page-content
                .page-content__title
                    h1.website-title Chat app
                .page-content__nav-buttons
                    .button-group
                        a.btn.btn-primary.btn-lg(href="/login") Войти
                        a.btn.btn-primary.btn-lg(href="/register") Зарегестрироваться

                