extends layout.pug

block title
    link(rel="stylesheet", href="/styles/registration.css")
    title Registration

block content
    main.page-content
        .page-content__title
            h1 Авторизация
        .page-content__login-form
            form(action="/login" method="post")
                .form-group
                    label(for="username") Username:
                    input.form-control#username(type="text" name="username" placeholder="Введите username")
                .form-group
                    label(for="password") Пароль:
                    input.form-control#password(type="password" name="password" placeholder="Введите пароль")
                .button-group
                    button.btn.btn-primary(type="submit") Войти
                    a.btn.btn-danger(href="/") Вернуться на главную