extends layout.pug

block title
    link(rel="stylesheet", href="/styles/registration.css")
    title Registration

block content
    main.page-content
        .page-content__title
            h1 Регистрация
        .page-content__login-form
            form(action="/register" method="post")
                .form-group
                    label(for="email") Email:
                    input.form-control#email(type="email" name="email" aria-describedby="emailHelp" placeholder="Введите email")
                .form-group
                    label(for="username") Username:
                    input.form-control#username(type="text" name="username" placeholder="Введите username")
                .form-group
                    label(for="password") Пароль:
                    input.form-control#password(type="password" name="password" placeholder="Введите пароль")
                .button-group
                    button.btn.btn-primary(type="submit") Зарегестрироваться
                    a.btn.btn-danger(href="/") Вернуться на главную