extends layout.pug

block title
    link(rel="stylesheet", href="/styles/registration.css")
    title Rooms

block content
    main.page-content
        .page-content__title
            h1 Huge success